body {
		height: 100%;
		width: 100%;
		background: #BEBEBE;
}

.list {
		height: 297mm;
		width: 210mm;
		margin: 0 auto;
		background: white;
}

.ava {
		width: 30%;
		text-align: center;
}

.name {
		text-align: center;
}

.inf {
		text-align: left;
		margin-left: 30mm;
		font-size: 20px;
}

hr {
		width: 80%;
		text-align: center;
}
